[buildout]
develop = .
parts = randomizer

extensions = mr.developer
sources-dir = downloads
auto-checkout = *
newest = true
always-checkout = force


[eggs]
eggs = randomizer
       tornado
       motorengine


[sources]
motorengine = git https://github.com/cyrilrbt/motorengine.git


[randomizer]
recipe = zc.recipe.egg
eggs = ${eggs:eggs}
interpreter = python
arguments = 'randomizer.settings.development'